<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Node SQL Express Handlebar</title>
</head>

<body>
	<img src="https://ak1.ostkcdn.com/images/products/17241000/Round-Rustic-Wood-Bar-Sign-42937ff9-43ba-4071-8798-329ba615459d_600.jpg" width="150px" height="150px" id="bar_sign">

	{{{ body }}}

</body>
</html>